
.eventos-page {
    font-family: sans-serif; /* Cambia la fuente según tu preferencia */
}


.display-1 {
    background-color: #2c1e1d; /* Cambia el color de fondo principal */
    color: #ffffff; /* Cambia el color del texto */
}

.container {
    padding: 20px;
    background-color: #655b5a; /* Cambia el color de fondo principal */
}

.imagen-evento {
    width: 200px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
}

  
  /* Puedes agregar más estilos según sea necesario */
